

<div>
<table width = "100%" border = 0 >

<tr>
    <td width = "5%"></td>
    <td>
          GP Properties - Crew Time<br>
      <br>
      <font family = 'courier' size='5'><b>Thank You!</b></font>
    </td>




<td align = "left" class = "top"> <img width="75" src = "../static/GP_Prop_logo_1.png">  </td>
</tr>


<tr>
  <td width = "5%"></td>
  <td>
            <h1>{{worker.first}} {{worker.last}}</h1>
            {{message}}
            <br>
            You submitted the following work details:
  </td>
</tr>
</table>
</div>

<div>
<br>
<table width = "100%" border = 0>
      <colgroup>
      <col width="25%"/>
      <col width="2%"/>
      <col width="70%"/>

      </colgroup>




      <tr>
      	<td align ="right"> Building:</td>
        <td></td>
        <td>{{property_name}}</td>

      </tr>



<tr>
	<td align ="right"> Unit:</td>

  <td>
                <td>{{unit_name}}</td>
  </td>
</tr>



<tr>
          <td></td>
          <td></td>
          <td>
            &nbsp;
          </td>

<tr>



<tr>
	<td align ="right"> Date of Work: </td>

  <td>
      	  <td>{{date_worked}}</td>
   </td>

</tr>

<tr>
	<td align ="right"> Hours Worked:</td>
  <td></td>
  <td>
            {{hours_worked}}
  </td>

</tr>

<tr>
          <td></td>
          <td></td>
          <td>
            &nbsp;
          </td>

<tr>

<tr>
  	<td align ="right">
    Notes from the Job:
  	</td>
     <td></td>
     <td>
               {{notes}}
     </td>
  <tr>

    <tr>
              <td></td>
              <td></td>
              <td>
                &nbsp;
              </td>

    <tr>



</table>
<br>

</div>
&emsp;&emsp;
