<div class="div-outer">
<div class="div-header">

<form action = "{{postendpoint}}" method = "POST" id="filter">



<table width = "100%" border = 0>

  <colgroup>
    <col width="30%"/>
    <col width="10%"/>
    <col width="20%"/>
    <col width="10%"/>
    <col width="10%"/>
    <col width="10%"/>
  </colgroup>


<tr>
        <td>
            <table width = "100%" border = 0 padding="0">
                 <tr>
                   <td>
                          <img width="60"  src="http://gpp.crewtimeapp.com/static/GP_Prop_logo_1.png">
                   </td>
                   <td>
                     <table width = "100%" border = 0>
                          <tr>
                              <td>
                                    <font family = 'courier' size='5'><b>Crew-Time </b></font>
                               </td>
                          </tr>
                          <tr>
                              <td>
                                    Time-Entries with Date Filter
                               </td>
                          </tr>

                    </table>
                  </td>
                 </tr>
            </table>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td align = "right">
                <a href = '/updateuser'>{{userObj.firstname}}</a>&emsp;<img width='50' src={{userObj.photo}}>
        </td>
    </tr>

    <tr>
        <td>
                 &nbsp;<a href = "/">Home</a>&emsp; <br> &nbsp;> {{message}}
        </td>

        <td align ="right">Filter for: </td>
        <td>
              <select name="filter_id">

                  {{#ifEqual selectedWorker.id 0}}
                        <option selected value='0'> -- select worker to filter on-- </option>
                  {{else}}
                         <option selected value='{{selectedWorker.id}}'> {{selectedWorker.first}} {{selectedWorker.last}}</option>
                         <option value='0'> -- All Workers -- </option>
                  {{/ifEqual}}


                  {{#each filterList}}
                        <option value='{{id}}'>{{first}} {{last}}</option>
                  {{/each}}
              </select>
        </td>
          <td align = "center">
                    {{#ifEqual selectedWorker.id 0}}

                    {{else}}
                            <a href = '/workerinvoice/{{selectedWorker.id}}/{{startDate}}/{{endDate}}/'>
                                    <img width="50" src = "http://gpp.crewtimeapp.com/static/file-black-512.png"><br>Invoice
                            </a>

                    {{/ifEqual}}
        </td>

      <td align = "center">
          <a href = '/export_appfolio_bills/{{selectedWorker.id}}/{{startDate}}/{{endDate}}/'><img width="45" src = "http://gpp.crewtimeapp.com/static/excel-logo-icon.png"><br>appFolio Bills</a>
      </td>

        <td align = "center">
                  <a href = '/download_csv2/{{selectedWorker.id}}/{{startDate}}/{{endDate}}/'><img width="45" src = "http://gpp.crewtimeapp.com/static/excel-logo-icon.png"><br>Time Entries</a>
        </td>





</tr>

<tr>
      <td></td>
  	  <td align ="right"> From: </td>


      <td>
        	<input id="filter_start_date" type = "date" name = "start_date"  value="{{startDate}}">
     </td>
      <td></td>
      <td></td> 
      <td></td>     
  </tr>


   <tr>
       <td></td>

       <td align ="right"> Until:</td>
       <td>
           	<input id="filter_end_date" type = "date" name = "end_date"  value="{{endDate}}">
        </td>


        <td></td>
        <td></td>
        <td></td>
</tr>

<tr>
    <td></td>
    <td></td>

     <td align = "left"><button style="height:30px; width:100px" type="submit" form="filter">Filter</button>
       <br><br>
     </td>

     <td></td>
     <td></td>
     <td></td>

</tr>




</form>
</table>
</div>



{{#if timeEntries}}
{{#each timeEntries}}
<div class="w3-panel w3-white w3-leftbar
 w3-rightbar w3-border-grey w3-margin-right w3-margin-left">

  <table width = "100%" border = 0>
                      <colgroup>
                        <col width="5%"/>
                        <col width="15%"/>
                        <col width="10%"/>
                        <col width="5%"/>
                        <col width="10%"/>
                        <col width="10%"/>
                        <col width="5%"/>
                        <col width="5%"/>
                        <col width="10%"/>
                        <col width="5%"/>
                        <col width="5%"/>
                        <col width="5%"/>
                      </colgroup>



                      <tr>       
                          <td align="left">{{id}}</td>
                          <td align="left"><b>{{worker_name}}</b></td>
                          <td align="left">{{work_date}}</td>
                          <td align="left">{{gl_code}}</td>
                          <td align="left">{{property_name}}</td>
                          <td align="left">{{unit_name}}</td>
                          <td align="left">{{work_hours}} hrs</td>




                          <td align="left">

                            {{#ifEqual is_overtime 1}}
                                     OT
                            {{/ifEqual}}



                          </td>

                          <td align="left">{{date_stamp}}</td>
                          <td align="left">{{time_stamp}}</td>
                          <td align="center"><a href = "/updateworktime/{{id}}">Edit</a></td>
                          <td align="center"><a href = "/delete_timeentry/{{id}}">Del.</a></td>
                      </tr>


</table>


</div>
{{/each}}
<br>
 {{/if}}

<br><br>
 &emsp; &emsp;
 <br><br>
 </div>
