
<div class="div-outer">
<div class="div-header">

  <table width = "100%" border = 0>

    <colgroup>
      <col width="35%"/>
      <col width="10%"/>
      <col width="20%"/>
      <col width="15%"/>
      <col width="15%"/>
    </colgroup>


  <tr>
          <td>
              <table width = "100%" border = 0 padding="0">
                   <tr>
                     <td>
                            <img width="60"  src="http://crew-time.us-east-2.elasticbeanstalk.com/static/GP_Prop_logo_1.png">
                     </td>
                     <td>
                       <table width = "100%" border = 0>
                            <tr>
                                <td>
                                      <font family = 'courier' size='5'><b>Crew-Time </b></font>
                                 </td>
                            </tr>
                            <tr>
                                <td>
                                      Workers List with TimeEntry Links
                                 </td>
                            </tr>

                      </table>
                    </td>
                   </tr>
              </table>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td align = "right">
                  <a href = '/updateuser'>{{userObj.firstname}}</a>&emsp;<img width='50' src={{userObj.photo}}>
          </td>
  </tr>


<tr>
  <td align = "left">
  <a href = "/">&nbsp;Home</a>&emsp;
</td>

<td>

</td>

<td align = "right">
</td>


</tr>

<tr><td>
  <br>
  &nbsp;> {{message}}
</td></tr>
</table>
</div>
<br>

<div class="w3-panel w3-white w3-leftbar
 w3-rightbar w3-border-grey w3-margin-right w3-margin-left">
 <table width = "100%" border = 0>
   <colgroup>
   <col width="5%"/>
   <col width="15%"/>
   <col width="10%"/>
   <col width="15%"/>
   <col width="40%"/>
   <col width="5%"/>
   <col width="5%"/>
   </colgroup>


        <tr class="bold-text">
            <td align="center"></td>
            <td align="left">First</td>
            <td align="left">Last</td>
            <td align="left">   Phone</td>
            <td align="center"> Worker Link  </td>
            <td align="right">Update</td>
            <td align="center"></td>
         </tr>
  </table>
</div>




{{#if workers}}
    {{#each workers}}
         <div class="w3-panel w3-white w3-leftbar
          w3-rightbar w3-border-grey w3-margin-right w3-margin-left">

          <table width = "100%" border = 0>
            <colgroup>
            <col width="5%"/>
            <col width="15%"/>
            <col width="10%"/>
            <col width="15%"/>
            <col width="40%"/>
            <col width="5%"/>
            <col width="5%"/>
            </colgroup>



      <tr>
          <td align="center">{{id}}</td>
          <td align="left">{{first}}</td>
          <td align="left">{{last}}</td>
          <td align="left">{{phone}}</td>
          <td align="left">
                <a href = "http://crewt-rux-04.s3-website.us-east-2.amazonaws.com/timegrid/{{link}}">http://crewt-rux-04.s3-website.us-east-2.amazonaws.com/timegrid/{{link}}</a>
          </td>


          <td align="center">
                <a href = '/updateworker/{{id}}/'>Edit</a>
          </td>




          <td align="center"><a href = "/delete_worker/{{id}}">Delete</a>
          </td>
       </tr>




      </table>
</div>
{{/each}}
<br>
 {{/if}}

<br><br>
&emsp; &emsp;
 <br><br>
 </div>
