

<div>
<table width = "100%" border = 0 >

<tr>
    <td width = "5%"></td>
    <td>
          GP Properties - Crew Time<br>
      <br>
      <font family = 'courier' size='5'><b>Update Worker Info</b></font>
    </td>

</tr>

<tr>
      <td></td>
      <td align = "left">
      <a href = "/">Home</a>&emsp;
      </td>

      <td></td>
      <td></td>
      <td></td>
</tr>



<tr>
  <td width = "5%"></td>
  <td>
            Id: {{worker.id}}<br>
            Worker: <b>{{worker.first}} {{worker.last}}</b>
            <br><br>
            Please update:
  </td>
</tr>
</table>



</div>
<form action = "{{postendpoint}}" method = "POST" id="edit-worker">
<div>
<table width = "100%" border = 0>
      <colgroup>

      <col width="20%"/>
      <col width="20%"/>
      <col width="2%"/>
      <col width="20%"/>
      <col width="20%"/>
      <col width="2%"/>

      </colgroup>


      <tr>
          	<td align="right">
              <b>First Name:&nbsp;</b>
          	</td>
            <td align="left">
          	<input type = "text" size = "30"  name = "first" value="{{worker.first}}"><br>
            </td>

            <td></td>

            <td align="right">
              <b>Regular Hourly Rate:&nbsp;</b>
          	</td>
            <td align="left">
          	<input type = "text" size = "10"  name = "reg_rate" value="{{worker.reg_rate}}"><br>
            </td>
            <td></td>

      </tr>


      <tr>
          	<td align="right">
              <b>Last Name:&nbsp;</b>
          	</td>
            <td align="left">
          	<input type = "text" size = "30"  name = "last" value="{{worker.last}}"><br>
            </td>
            <td></td>

            <td align="right">
              <b>Overtime Hourly Rate:&nbsp;</b>
          	</td>
            <td align="left">
          	<input type = "text" size = "10"  name = "ot_rate" value="{{worker.ot_rate}}"><br>
            </td>
            <td></td>




      </tr>
      <tr>
          	<td align="right">
              <b>Link:&nbsp;</b>
          	</td>
            <td align="left">
          	<input type = "text" size = "30"  name = "link" value="{{worker.link}}"><br>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
      </tr>
      <tr>
          	<td align="right">
              <b>Phone:&nbsp;</b>
          	</td>
            <td align="left">
          	<input type = "text" size = "30"  name = "phone" value="{{worker.phone}}"><br>
            </td>
            <td></td>
            <td></td>
            <td></td>
      </tr>





      <input type = "hidden" name = "id" value={{worker.id}}>


      </form>

<tr>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <button type="submit" form="edit-worker" >Submit Update</button>
          </td>
          <td></td>
          <td></td>

<tr>
</table>
<br>

</div>
&emsp;&emsp;
